 header{
    background-color: #5D0C1D;
}

body{
    min-height: 100vh; 
    background-image: url("https://images.pexels.com/photos/25463033/pexels-photo-25463033/free-photo-of-cielo-espacio-iphone-oscuro.jpeg");
    background-size: cover; 
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.headerTitle{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #CCB38D;
    border-color: #9A825F;
}

.button{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #CCB38D;
    font-size: 15px;
    text-decoration: none;
    border-radius: 100px;
    box-shadow: 0px 1px 3px #9e2033;
    text-shadow: 1px 1px 1px #1c1a17;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#bd1136), to(#750f25));
}

.button:hover {
    color: #e3bc82;
    text-decoration: none;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#5c2632), to(#a60f30));
    background: -moz-linear-gradient(top, #5c2632, #a60f30)
  }

.recomendations{
    font-family: "Montserrat", sans-serif;
    color: #CCB38D;
}

.card{
    width: 16rem;
    margin: 8px;
    backdrop-filter: blur(10px);
    box-shadow: inset 9px 9px 29px 1px rgba(64, 103, 229, 0.89);
    transition: all 0.3s ease-in-out;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: inset 9px 9px 29px 1px rgba(25, 44, 107, 0.89);
    transition: all 0.3s ease-in-out;
}

.card-title{
    font-weight: bold;
    padding: 25px;
}


.btn {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#bd1136), to(#750f25));
    color: #CCB38D;
    border: none;
}

.dropdown-menu {
    border-radius: 18px;
    background: linear-gradient(145deg, #f4b7b7, rgb(172, 96, 96));
}

.dropdown-item {
    color: black;
}

.dropdown-item:hover {
    color: #9e2033;
    background: transparent;
}
    
.list-group-item{
    font-size: medium;
    background: linear-gradient(145deg, #9e2033, rgb(188, 116, 116));
}
